extends ../layout/layout

block body
  h2= data.title
  - if (user.email == author.email)
    a(href="/frames/"+data._id+"/delete") Delete Frame
  br/
  img(src=data.url, height="400px")
  p= data.caption
  p= author.name
  hr/
  #comments
    h2 Comments

    ul#comment-list
      - comments.forEach(function(c){
        li.comment
          h6= c.name
          p= c.text
      - });
    form(action="/comments/new", method="POST", enctype="multipart/form-data")
      textarea(name="comment", rows="10", cols="50")
      input(type="text", hidden="hidden", value=data._id, name="frameID")
      br/
      input(type="submit")

